<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(#{community.title})}"></head>
<body>
    <div th:replace="~{fragments/loader}"></div>
    <div class="page">
        <header class="site-header" th:replace="~{fragments/nav :: nav(active='community')}"></header>

        <h1 th:text="#{community.title}">Community.</h1>

        <div class="grid">
            <div>
                <a th:href="${item.type == 'movie'} ? @{'/movie/' + ${item.tmdbId}} : @{'/tv/' + ${item.tmdbId}}" th:each="item : ${feed}" class="card">
                    <div>
                        <img th:if="${item.posterPath != null}" th:src="@{'https://image.tmdb.org/t/p/w92' + ${item.posterPath}}" th:alt="'Poster of ' + ${item.title}" />
                        <div>
                            <span class="username" th:text="${item.username}">Username</span>
                            <br>
                            <h3 class="title" th:text="${item.title}">Title</h3>
                            <div class="tags">
                                <span th:if="${item.type == 'movie'}" class="tag" th:text="#{community.type.movie}">Movie</span>
                                <span th:if="${item.type == 'tvshow'}" class="tag" th:text="#{community.type.tv}">TV</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="rating" th:text="${#strings.replace(#numbers.formatDecimal(item.score, 1, 2), ',', '.')}">0.00</span>
                        <br>
                        <span class="date"><span th:text="#{community.activity.rated.at}">Rated on</span> <span th:text="${item.ratedAt}">date</span></span>
                    </div>
                </a>
            </div>

            <div>
                <h2 th:text="#{community.search.users}">Search Users</h2>
                <div class="search-wrapper">
                    <input type="text" id="user-search-input" name="username" th:placeholder="#{community.search.placeholder}" autocomplete="off" th:value="${searchedUsername}" class="w-100" th:data-no-users-msg="#{community.search.no.users.found}" />
                    <div id="user-search-dropdown" class="search-dropdown"></div>
                </div>

                <div class="separator"></div>

                <h2 th:text="#{community.followed.users}">Followed Users</h2>
                <div th:if="${followedUsers != null and !#lists.isEmpty(followedUsers)}">
                    <div th:each="followedUser : ${followedUsers}">
                        <a th:href="@{'/profile/' + ${followedUser.id}}" class="link" th:text="${followedUser.username}">Username</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/usersearch.js" defer></script>
</body>
</html>
